
Maze/Assets/DragonTerrorBringer/MayaAndSubstancePainterFiles/SubstanceFile.zip
Maze/Library/Collab/Download/Assets/DragonTerrorBringer/MayaAndSubstancePainterFiles/SubstanceFile.zip
Maze/Library/Collab/Download/Assets/DragonTerrorBringer/MayaAndSubstancePainterFiles/SubstanceFile.zip.meta
